.mainBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
    width: 100%;
}

.tableContainer {
    width: 100%;
}


.coinTable{
    width: 80%;
    margin-left: 10%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}


.coinImageAndName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
}

.backButton {
    align-self: flex-start;
    background-color: #c8cfca;
    color: black;
    border-radius: 20px;
    margin-left: 30px;
  }
  
  .backButton:hover{
    background-color: red;
    color: white;
  }


.coinPageBox {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}


.coinCardMainBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    align-self: center;
    padding: 1% 2%;
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 30px;
}

.coinCardMainBox:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}


.coinCardMainBox .coinCardLeftPart {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    width: 35%;
}

.coinCardMainBox .coinCardLeftPart:hover{
    cursor: pointer;
}


.coinCardMainBox .coindCardRightPart{
    display: flex;
    flex-direction: row;
    width: 65%;
    justify-content: space-between;
}

.coinCardMainBox .coindCardRightPart:hover{
    cursor: pointer;
}

.coinCardMainBox .coindCardRightPart .market_cap, .total_volume, .current_price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coinPageSkeleton {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}

.coinPageSkeleton .skeleton{
    width: 65%;
    height: 40px;
}


@media (min-width:0px) and (max-width:480px){
    /* .coinTable{
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    } */

    .backButton {
        margin-left: 10px;
    }

    .coinCardMainBox {
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
        padding: 5% 5%;
    }

    .coinCardMainBox .coinCardLeftPart{
        width: 100%;
    }
    
    .coinCardMainBox .coindCardRightPart{
        width: 100%;
        column-gap: 4%;
    }

    .coinPageSkeleton .skeleton{
        width: 90%;
    }
}

@media (min-width:481px) and (max-width:768px){
    /* .coinTable{
        width: 96%;
        margin-right: 2%;
        margin-left: 2%;
        
    } */
    .backButton {
        margin-left: 15px;
    }

    .coinCardMainBox {
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
        padding: 5% 5%;
    }

    .coinCardMainBox .coinCardLeftPart{
        width: 100%;
    }
    
    .coinCardMainBox .coindCardRightPart{
        width: 100%;
        column-gap: 4%;
    }

    .coinPageSkeleton .skeleton{
        width: 90%;
    }
}

@media (min-width:769px) {
  
}