.mainBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 30px;
}

.mainBox .fundPageBox {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 35%;
    row-gap: 20px;
}


.mainBox .fundPageBox .errorMsg {
    color: red;
    font-size: 15px;
    text-align: center;
}

.backButton {
    align-self: flex-start;
    background-color: #c8cfca;
    color: black;
    border-radius: 20px;
    margin-left: 30px;
}

.backButton:hover{
    background-color: red;
    color: white;
}

@media (min-width:0px) and (max-width:480px){
    .mainBox .fundPageBox {
        width: 80%;
    }

    .backButton{
        margin-left: 10px;
    }
}

@media (min-width:481px) and (max-width:768px){
    .mainBox .fundPageBox {
        width: 50%;
    }

    .backButton{
        margin-left: 15px;
    }
}

@media (min-width:769px) {
   
}