.mainBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 35px;
}

.menuIcon:hover {
    cursor: pointer;
}


.mainBox .leftHeader {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 5px;
}


.mainBox .rightHeader {
    display: flex;
    align-items: center;
    flex-direction: row;
}


.mainBox .rightHeader .account {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 5px;
    border: 5px solid white;
    padding: 10px;
}

.mainBox .rightHeader .account:hover {
    border-bottom: 5px solid green ;
    cursor: pointer;
}

.drawer {
    width: 250px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-top: 30px;
}


.drawer .drawerTypograpy:hover {
    cursor: pointer;
    text-decoration: underline;
}