.mainBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sigupForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    align-self: center;
    margin-top: 20px;
}


.firstName {
}

.sigupForm_passwordTage {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}


.sigupForm_confirmPasswordTage {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;    
}