.mainBox {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.coinDetailsMainPage {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}


.buttonGroup{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding: 0% 2%;
}

.individualButton{
    background-color: white;
    color: black;
}

.individualButton:hover{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.highChartReact {
}

.coinImageAndName{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.coinImageAndName .coinImage {
    /* width: 10%; */
    min-width: 5%;
    max-width: 5%;
}

.coinName{
    font-size: 40px;
}

.descriptionHeading{
    font-size: 25px;
}

.coinDescription {
    font-size: 17px;
}

.coinInformation{
    padding: 1%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.coinDetailsTypography {
    font-size: 18px;
}

.coinInformation .investmentbutton {
    background-color: green;
    margin-top: 20px;
    align-self:center;
    width: 30%;
    border-radius: 30px;
}


.modalBoxStyle {
    width: 30%;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 35%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding: 2% 2%;
}

.modalHeading {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.backButton {
    align-self: flex-start;
    background-color: #c8cfca;
    color: black;
    border-radius: 20px;
    margin-left: 30px;
  }
  
  .backButton:hover{
    color: white;
    background-color: red;
  }

.coinInformation .coinDetailsAndDescriptions {
    display: flex;
    width: 100%;
    flex-direction: row;
}


.coinInformation .coinDetailsAndDescriptions .coinDescriptionBox {
    width: 66%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 1% 2%;
}


.coinInformation .coinDetailsAndDescriptions .coinPricingdetailsBox{
    width: 20%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 4% 5%;
    border-radius: 30px;
    background-color: #f3f4f6;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media (min-width:0px) and (max-width:480px){
    .coinName{
        font-size: 30px;
    }

    .descriptionHeading{
        font-size: 20px;
    }

    .coinDescription {
        font-size: 17px;
    }

    .coinDetailsTypography {
        font-size: 15px;
    }

    .modalBoxStyle {
        width: 90%;
        left: 3%;
        top: 25%;
    }

    .backButton{
        margin-left: 10px;
    }

    .coinInformation .coinDetailsAndDescriptions {
        flex-direction: column;
        row-gap: 30px;
    }

    .coinInformation .coinDetailsAndDescriptions .coinDescriptionBox {
        width: 100%;
        padding: 1% 0%;
    }

    .coinInformation .coinDetailsAndDescriptions .coinPricingdetailsBox{
        width: 90%;
    }

    .coinInformation .investmentbutton {
        width: 100%;
    }

    .coinImageAndName .coinImage {
        /* width: 10%; */
        min-width: 20%;
        max-width: 20%;
    }

}

@media (min-width:481px) and (max-width:768px){
    .coinName{
        font-size: 35px;
    }

    .descriptionHeading{
        font-size: 22px;
    }

    .coinDescription {
        font-size: 18px;
    }

    .coinDetailsTypography {
        font-size: 18px;
    }

    .modalBoxStyle {
        width: 70%;
        left: 15%;
        top: 25%;
    }

    .backButton{
        margin-left: 10px;
    }

    .coinInformation .coinDetailsAndDescriptions {
        flex-direction: column;
        row-gap: 30px;
    }

    .coinInformation .coinDetailsAndDescriptions .coinDescriptionBox {
        width: 100%;
        padding: 1% 0%;
    }

    .coinInformation .coinDetailsAndDescriptions .coinPricingdetailsBox{
        width: 90%;
    }

    .coinInformation .investmentbutton {
        width: 100%;
    }

    .coinImageAndName .coinImage {
        /* width: 10%; */
        min-width: 15%;
        max-width: 15%;
    }
}

@media (min-width:769px) {
    
}